
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: radial-gradient(circle at top, #102344 0%, #07101d 55%, #020306 100%);
    color: white;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

.hero {
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    position: relative;
}

.hero h1 {

    font-family: "Cormorant Garamond", serif;

    font-size: 4rem;

    font-weight: 300;

    letter-spacing: 3px;
}

.arrow {

    position: absolute;

    bottom: 50px;

    color: white;

    text-decoration: none;

    font-size: 2rem;

    transition: .4s;
}

.arrow:hover {

    transform: translateY(10px);

    opacity: .6;

}

.works {

    min-height: 100vh;

    background: white;

    color: black;

    display: flex;

    flex-direction: column;

    align-items: center;

    padding-top: 120px;

}

.works h2{

    font-family:"Cormorant Garamond",serif;

    font-size:48px;

    font-weight:400;

    margin-bottom:60px;

}

.work{

    color:black;

    text-decoration:none;

    font-size:22px;

    margin-bottom:25px;

    transition:.3s;

}

.work:hover{

    opacity:.5;

}

.signature {

    font-family: "Cormorant Garamond", serif;

    font-size: 3rem;

    font-style: italic;

    font-weight: 300;

    display: flex;

    justify-content: center;

    gap: 14px;

    margin-bottom: 25px;

    color: white;

    letter-spacing: 8px;

}


.signature span {

    display: inline-block;

    opacity: 0;

    transform: translateY(15px) rotate(-8deg);

    animation: signatureWrite 1.5s ease forwards;

}


.signature span:nth-child(1) {
    animation-delay: 0.3s;
}

.signature span:nth-child(2) {
    animation-delay: 0.8s;
}

.signature span:nth-child(3) {
    animation-delay: 1.3s;
}

.signature span:nth-child(4) {
    animation-delay: 1.8s;
}



@keyframes signatureWrite {

    from {

        opacity: 0;

        transform: translateY(15px) rotate(-8deg);

    }

    to {

        opacity: 1;

        transform: translateY(0) rotate(0);

    }

}
